<form class="editContact">
  <div>
    <div>
      <label for="name">Name</label>
    </div>
    <input class="textInput name" name="name" type="text" value="{{name}}" [(ngModel)]="name" />
  </div>
  <div>
    <div>
      <label for="phone">Phone</label>
    </div>
    <input class="textInput phone" name="phone" type="text" value="{{phone}}" [(ngModel)]="phone" />
  </div>
</form>
<div class="editContact editButtons">
  <div *ngIf="id==''">
    <button class="editContactButton" (click)="addContact()">Add contact</button>
  </div>
  <div *ngIf="id!=''">
    <button class="editContactButton" (click)="editContact()">Save contact edit</button>
  </div>
</div>
<div *ngIf="errorMessage" class="error">
  <div [innerHTML]="errorMessage"></div>
</div>
