.filterContact {
  width: 600px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(204, 173, 128);
  margin-bottom: 30px;

  .filterContactButton {
    font-weight: bold;
    width: 150px;
    height: 35px;
    border: none;
    padding: 3px;

    &:hover {
      background-color: cadetblue;
    }
  }
}

.nameFilter {
  border: none;
  height: 30px;
  width: 240px;
}

.filterLabel {
  padding-right: 20px;
}
