.filterContact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(204, 173, 128);
  margin-bottom: 30px;

  .filterContactButton {
    font-weight: bold;
    width: 150px;
    border: none;
    padding: 3px;
    height: 35px;

    &:hover {
      background-color: cadetblue;
    }
  }
}

.nameFilter {
  border: none;
  height: 30px;
  width: 240px;
}

.filterLabel {
  padding-right: 20px;
}

@media screen and (max-width: 600px) {
  .filterContact {
    flex-direction: column;
    align-items: center;
  }

  .filterItem {
    margin-bottom: 30px;
  }

  .filterContactButton{
    width: 200px;
  }
}
