.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  background-color: rgb(187, 244, 225);
  padding: 20px;
  margin-bottom: 30px;
  &:hover {
    background-color: rgb(114, 238, 196);
  }
}

.contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .contactName {
    width: 250px;
    margin-right: 40px;
  }
}

.contactEdit  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .delete{
    margin-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 400px;
    flex-direction: column;
  }

  .contactInfo{
    flex-direction: column;
  }

  .contactName {
    width: 180px;
    margin-right: 10px;
  }

  .contactInfoItem{
    margin-bottom: 20px;
  }
}
