.editContact {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: rgb(152, 158, 156);

  .editContactButton {
    font-weight: bold;
    height: 35px;
    border: none;
    padding: 3px;
    width: 290px;
    &:hover {
      background-color: cadetblue;
    }
  }
}

.textInput {
  border: none;
  height: 30px;
}

.name {
  width: 290px;
}

.phone {
  width: 290px;
}

.editButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.error {
  margin-top: 30px;
  width: 600px;
  background-color: rgb(237, 122, 122);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .editContact {
    width: 400px;
    flex-direction: column;
  }
}
